<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{cBOManagement.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{cBOManagement.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/cBOManagements}" th:text="#{cBOManagement.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('cBOManagement')}" />
            <form th:action="${T(io.clnra.c_l_n_r_a.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='fullName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='gender')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='cBOName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='relationToCBO')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='yoB')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='phoneNumber')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='emailAddress')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cBOManagement', field='userStatus')}" />
                <input type="submit" th:value="#{cBOManagement.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
