<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{administrative.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{administrative.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/administratives}" th:text="#{administrative.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('administrative')}" />
            <form th:action="${T(io.clnra.c_l_n_r_a.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='country')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='countryCode')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='countryCurrency')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='currencyCode')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='regionName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='province')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='district')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='subDistrict')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='ward')}" />
                <div th:replace="~{fragments/forms::inputRow(object='administrative', field='cBORegistration', type='select')}" />
                <input type="submit" th:value="#{administrative.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
