<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{hunting.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{hunting.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/huntings}" th:text="#{hunting.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('hunting')}" />
            <form th:action="${T(io.clnra.c_l_n_r_a.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='huntingLog')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='animalName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='year')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='allocatedQuota')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='trophyFee')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='numberHunted')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='fixedQuota')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hunting', field='optionalQuota')}" />
                <input type="submit" th:value="#{hunting.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
