<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{patrols.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{patrols.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/patrolss}" th:text="#{patrols.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('patrols')}" />
            <form th:action="${T(io.clnra.c_l_n_r_a.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='patrols', field='patrolsLog')}" />
                <input type="submit" th:value="#{patrols.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
